<div class = "container">

    <form  (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label name="Department">Department</label><br/>
        <select [(ngModel)]="formData.department" name="Department">
        <option value="">-- Wybierz --</option>
        @for (item of departmentList; track item) {
            <option>{{ item }}</option>
        }
        </select>
    </div>

    <p class = "errorText">{{validationErrors.departmentError}}</p>


    <div>
        <label name="PerformanceScore">PerformanceScore</label> <br/>
        <select [(ngModel)]="formData.performanceScore" name="PerformanceScore">
            <option value="">-- Wybierz --</option>
            @for(item of performanceScoreList; track item){
                <option>{{item}}</option>
            }

        </select>
    </div>

    <p class = "errorText">{{validationErrors.performanceScoreError}}</p>

    <div>
        <label>EngagmentSurvey</label><br/>
        <input type="number" [(ngModel)]="formData.engagmentSurvey" 
        name="EngagmentSurvey" min="0" max="5" step="0.1">
    </div>

    <p class = "errorText">{{validationErrors.engagmentSurveyError}}</p>

    <div>
        <label>EmpSatisfaction</label><br/>
        <input type="number" [(ngModel)]="formData.empSatisfaction" 
        name="EmpSatisfaction" min="0" max="5" step="0.1">
    </div>

    <p class = "errorText">{{validationErrors.empSatisfactionError}}</p>

    <div>
        <label>DaysLateLast30</label><br/>
        <input type="number" [(ngModel)]="formData.daysLateLast30" 
        name="DaysLateLast30" min="0" max="100">
    </div>

    <p class = "errorText">{{validationErrors.daysLateLast30Error}}</p>

    <div>
        <label>Absences</label><br/>
        <input type="number" [(ngModel)]="formData.absences" 
        name="Absences" min="0" max="100">
    </div>

    <p class = "errorText">{{validationErrors.absencesError}}</p>

    <div>
        <label>YearsAtCompany</label><br/>
        <input type="number" [(ngModel)]="formData.yearsAtCompany" 
        name="YearsAtCompany" min="0" max="100">
    </div>

    <p class = "errorText">{{validationErrors.yearsAtCompanyError}}</p>

    <div class = "sub">
        <button type="submit">Submit</button>
    </div>

    </form>



</div>

<div class = "container">
    <p class = "result"> Proponowana kwota:  {{result}}</p>
</div>