<div class = "container">

    <form  (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label name="Department">Department</label><br/>
        <select [(ngModel)]="formData.department" name="Department">
        <option value="">-- Wybierz --</option>
        @for (item of departmentList; track item) {
            <option>{{ item }}</option>
        }
        </select>
    </div>

    <p class = "errorText">{{validationErrors.departmentError}}</p>


    <div>
        <label name="PerformanceScore">PerformanceScore</label> <br/>
        <select [(ngModel)]="formData.performanceScore" name="PerformanceScore">
            <option value="">-- Wybierz --</option>
            @for(item of performanceScoreList; track item){
                <option>{{item}}</option>
            }

        </select>
    </div>

    <p class = "errorText">{{validationErrors.performanceScoreError}}</p>

    <div>
        <label>EngagmentSurvey</label><br/>
        <input type="number" placeholder="Wartość od 0 do 5" [(ngModel)]="formData.engagmentSurvey" (change)="validateZeroFiveRange(formData)"
        name="EngagmentSurvey" min="0" max="5" step="0.1">
    </div>

    <div>
        <label>EmpSatisfaction</label><br/>
        <input type="number" placeholder="Wartość od 0 do 5" [(ngModel)]="formData.empSatisfaction" (change)="validateZeroFiveRange(formData)"
        name="EmpSatisfaction" min="0" max="5" step="0.1">
    </div>

    <div>
        <label>DaysLateLast30</label><br/>
        <input type="number" placeholder="Wartość od 0 do 100" [(ngModel)]="formData.daysLateLast30" (change)="validateZeroFiveRange(formData)"
        name="DaysLateLast30" min="0" max="100">
    </div>

    <div>
        <label>Absences</label><br/>
        <input type="number" placeholder="Wartość od 0 do 100" [(ngModel)]="formData.absences" (change)="validateZeroFiveRange(formData)"
        name="Absences" min="0" max="100">
    </div>

    <div>
        <label>YearsAtCompany</label><br/>
        <input type="number" placeholder="Wartość od 0 do 100" [(ngModel)]="formData.yearsAtCompany" (change)="validateZeroFiveRange(formData)"
        name="YearsAtCompany" min="0" max="100" >
    </div>

    <div class = "sub">
        <button type="submit">Submit</button>
    </div>

    </form>



</div>

<div class = "container">
    <p class="result">
        Proponowana kwota:
        @if (result !== null && result >= rangeOffset) {
            Od: {{ result - rangeOffset}} do {{ result + rangeOffset }}
        }
    </p>
</div>